.mission-statement-wrapper {
    display: flex;
    height: 100%;
    background-color: #89BE9C;
}

.big-logo {
    height: 100%;
    pointer-events: none;
}

.logo-wrapper {
    width: 40%;
    margin-left: 4%
}

.mission-statment {
    width: 60%;
    margin: 0 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.mission-button {
    background-color: #3E5C76;
    display: inline-block;
    padding: 0.35em 1.2em;
    border:0.1em solid #1D2D44;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #0D1321;
    text-align: center;
    transition: all 0.2s;
    width: 45%;
    border-radius: 6px;
    font-size: 1.8em;
    cursor: pointer;
}

.mission-statement-text {
    text-align: center;
    color: #0D1321;
    font-size: 1.6em;
}

.mission-button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 4%;
}

.mission-button:hover {
    color: white ;
}

@media all {
    .mission-button {
        display: block;
        margin: 0.4em auto;
    }
}